<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>STUDY LIST</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <style>
        div{
            text-align: center;
        }
        main{
            padding-top: 0;
        }
        header{
            padding-bottom: 0;
        }
    </style>
</head>
<body>
    <header>
        <h1 onclick="history.back()"> STUDY ASSIGNMENT</h1>
    </header>

    <main>
        <div>
            <img src="/prototypeAssignment" alt="prototype Assignment"/>
        </div>
    </main>
</body>
</html>